body {

    background-image: url('../../pic/output-onlinepngtools\ \(1\).png');
    background-size: cover;
    background-position: center;
}


u {
    position: absolute;
    top: 150px;
    left: 20px;
    font-size: 50px;
    background: linear-gradient(to right, blue, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}


.event-container img {
    width: 400px;
    height: 200px;
}

.event-container {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: lightgray;
    width: 650px;
    border-radius: 20px;
    transition: all 0.3s ease;
    opacity: 0.9;
    margin: 20px 5px
}

.blur {
    filter: blur(5px);
}

.event-container:hover {
    transform: translateY(-10px);
    opacity: 1;
    background-color: white;
    font-weight: bold;
    filter: none;

}

main {
    padding: 50px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.event-detail {
    display: flex;
    align-items: center;
    width: 80%;
}

.gone {
    display: none;
}

.event-detail img {
    margin: 20px 50px;
    width: 600px;
    height: 400px;
}

.event-detail div {
    margin: 30px 0px;
    height: 100%;
    width: 600px;
    position: relative;

}

.event-detail button {
    position: absolute;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
    right: -100px;
    padding: 10px;
    top: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(141, 246, 246);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: none
}

.event-detail button:hover {
    background-position: right center;
    font-weight: bold;
}

@keyframes slideIn {
    from {
        transform: translateY(0%);
        opacity: 0;
    }

    to {
        transform: translate(0%, -50%) scale(1);
        opacity: 1;
    }
}

.container {
    background-color: white;
    position: fixed;
    transition: opacity 2s, transform 2s;
    animation: slideIn 1s ease forwards;
    top: 60%;
    left: 10%;
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.participant-list {
    margin: 20px 50px;
}

.participant {
    margin: 30px 0;
    display: flex;
}

.participant img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}