header{
    background-color: black;
    padding-top: 2px;
}

#logo {
    color: #FFF;
    text-shadow: 0px 6px 4px rgba(255, 255, 255, 0.25);
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    margin-left: 96px;
    position: relative;
    top: 16px;
    padding: 0%;
}

#company_logo{
    width: 76px;
    padding: 0%;
    margin-left: 287px;
    margin-top: -170%;
    height: 81px;
    flex-shrink: 0;
    filter: drop-shadow(0px 6px 4px rgba(255, 255, 255, 0.4));
    position: relative;
    top: -10px;
}

#home{
    text-decoration: none;
    list-style-type: none;
    color: #FFF;
}

body{
    margin: 0;
}


#main_search{
    width: 1000px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px, solid black;
    background: #FFF;
    top: -53px;
    position: relative;
}


#account_button{
    background: #ffffff;
    border-radius: 31px;
    border: 1px, solid black;
    width: 120px;
    height: 35px;
    position: relative;
    top: -53px;
    margin-left: 10px;
}



.navbar ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    margin-top: -2%;
    position: relative;
    z-index: 99;
}

.navbar li{
    float: right;
}

.navbar a{
    text-decoration: none;
    display: block;
    color: #FFF;
    padding-left: 39px;
    padding-right: 39px;
    font-size: 17px;
}

main{
    margin: 40px;
 }


/* ACTIVITY NAME (PARTICIPANTS) */

.container{
    width: 1450px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    box-sizing: border-box;
}

.grid-container{
    border: 1px solid black;
    width: 1450px;
    height: 190px;
    display: grid;
    grid-template-columns: repeat(9, 1Fr);
    grid-template-rows: 100px 90px;
    justify-content: center;
    align-content: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ACTIVITY NAME */
.item.item1 {
    grid-column: 1/5;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
}

/* ACTIVITY ID */
.item.item2 {
    grid-column: 5/7;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
}

.item.item3 {
    grid-column: 7/10;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
}

.item3 .organizer_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 .organizer_name {
    position: fixed;
    right: 320px;
    font-size: 18px;
    font-weight: bold;
}

.item3 .organizer_number {
    position: fixed;
    right: 90px;
    font-size: 14px;
    font-weight: bold;
}

.item3 .chat_with_organizer {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    right: 245px;
}

#chat_w_organizerbtn{
    padding: 4px 30px;
    border-radius: 26px;
    border: 2px solid black;
    text-decoration: none;
    background-color: #f8f8f8;
    color: black;
    
}

/* LOCATION */
.item.item4{
    grid-row: 2;
    grid-column: 1/4 ;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
}

/* DATE */
.item.item5{
    grid-column: span 2;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
}

/* TIME */
.item.item6{
    grid-column: span 1;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
}

/* TOTAL PARTICIPANTS */
.item.item7{
    grid-column: span 3;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
}


/* Description */
.desc_section{
    margin-top: 5px;
    width: 1270px;
    height: 220px;
    display: grid;
}

.desc_section p{
    margin-right: 10px;
    margin-top: 2px;
}


#participatebtn{ 
    position: absolute;
    bottom: 40px;
    right: 30px;
    padding: 13px;
    color: #FFF;
    background-color: black;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    font-size: 23px;
    text-decoration: none;
}